[submodule "solr-plugins/solr-ewb-jensen-shanon-distance-plugin"]
	path = solr-plugins/solr-ewb-jensen-shanon-distance-plugin
	url = https://github.com/Nemesis1303/solr-ewb-jensen-shanon-distance-plugin.git
