dask[dataframe]==2023.4.1
pybind11==2.11.1
gensim==4.3.1
langdetect==1.0.9
Levenshtein==0.21.1
nltk==3.8.1
pyarrow==12.0.0
pyenchant==3.2.2
PyYAML==6.0
regex==2022.10.31
scikit_learn==1.2.2
sentence_transformers==2.2.2
spacy==3.5.1
tqdm==4.65.0
Unidecode==1.3.6
colorama==0.4.6
colored==1.4.4
Flask==2.2.5
flask-restx==1.3.0
pyfiglet==0.8.post1
termcolor==2.2.0
waitress==2.1.2